g@charset "utf-8";
/* CSS Document */

body{ font-family: 'Open Sans', sans-serif;	overflow-x: hidden;}


.bnr{ width:100%; padding:0 0 30px 0;  background:url(../images/banner_bg.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.clm-1{ width:100%; float:left; background:#fff; padding-bottom: 35px; }
.clm-2{ width:100%; float:left; background:#161616 url(../images/clm2_bg.png) fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover;padding-bottom: 40px; padding-top: 40px;}
.clm-3{ width:100%; float:left; background:#fff; padding-bottom: 50px; padding-top: 60px; border:solid #e4e4e4 6px; }
.clm-4{ width:100%; float:left; background:#161616 ; padding-bottom: 35px; padding-top: 0px; border-top: solid #282828 6px; }
.footer{ width:100%; float:left; background:#282828; padding-bottom: 10px; padding-top: 10px;}

.header-list{ float:right;  padding:0px; margin:0;   padding:20px 0 0 0;}
.header-list li{ list-style:none; float:right; color:#fff; margin-left:15px; font-size:14px; padding:0px 0 0 0;}
.navbar-inverse{ padding-bottom:10px; padding-top:10px;}

.nav-tabs > li > a{ font-size:13px !important; background-color:#ebebec !important; color:#757575 !important; margin-right: 5px !important; background-repeat:no-repeat; height: 45px; padding:10px !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ color:#000 !important; background-color:#fed23c !important; border: 1px solid #fed23c !important;}
a:focus{ outline:none !important;}
.nav-tabs{ margin-left: 15px;}
#point-tab{ }

.search-form{ background:#f2c21e; border-radius: 10px; padding: 20px 30px;}

.field1{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/area.png); background-repeat:no-repeat; background-position:right;}
.field1:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.para-head{ margin-bottom:5px !important; font-size:13px !important; color:#2c3e50;}
.para-head2{ margin-bottom:5px !important; font-size:14px !important; color:#2c3e50; font-weight:bold !important;}
.faredetais{ font-size: 11px; font-weight: 300; color:#2c3e50; }


.findtaxibtn{ background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; float: right; font-size: 17px; padding: 10px 50px; margin-top:10px;}
.findtaxibtn:hover{ background: none repeat scroll 0 0 #232222; }

.field2{ font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/date.png); background-repeat:no-repeat; background-position:right;}
.field2:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.dropdown-field1{ width: 100%; font-size: 13px !important; border:1px solid #d6d6d6;  padding-left: 9px;  margin-bottom: 10px !important;}
.dropdown-field1 option{ padding: 9px !important; }


.field3{ font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/area.png); background-repeat:no-repeat; background-position:right;}
.field3:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.field4{ font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/time.png); background-repeat:no-repeat; background-position:right;}
.field4:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.right-image img{ float:right;}

.nav-tabs{ margin-top:30px;}

.head-sec3{ border-bottom:1px solid #ebebeb; padding-bottom: 5px;}

.seclist3{ margin-top:15px; padding-left: 22px;}
.seclist3 li{ list-style-image:url(../images/list.png); margin-bottom: 15px; font-size:13px;}


.right-section{ margin-top: 80px;}

.list-rightsec{ padding-right: 5px; border:1px solid #ededed; border-radius:5px; padding-bottom: 10px; padding-top: 27px; padding-left: 5px;}
.list-rightsec li{ list-style:none; display:inline-block;}

.para-listright{ margin-left:10px;}

.para-right1{ color:#a6a4a4; font-size:14px; margin-bottom: 5px;}
.para-right2{ color:#2c2c2e; font-size:18px; margin-bottom: 0px;}

.left-symbol{ margin-top:-30px}

.refillbtn{ background: none repeat scroll 0 0 #fed23c; border-radius: 5px; color: #242220; float: right; font-size: 13px; padding: 10px 5px; width:120px; border:1px solid #fed23c;}

.image-secssion img{ float:right;}

.right-clm2{ padding-left:0px; margin-left:6%; margin-top: 25px;}
.right-clm2 li{ list-style:none; margin-bottom:20px;}

.clm2-head3{ font-size:26px; color:#eae9e7; margin:0px;}
.clm2-head2{ font-size:36px; color:#fed23c;  margin:0px;}
.clm2-paralast{ font-size:13px; color:#d8d8d8;  margin:0px;}


.clm3h3{ margin-bottom:20px; margin-top:0px; color:#2c2c2e;}
.clm3p{ font-size:13px; text-align:justify; margin-bottom:30px;}
.sentlinkbtn{ background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; font-size: 13px; margin-left: 5px; padding: 10px 15px;}



.field5{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 60% !important; border:1px solid #d6d6d6; border-radius:5px; }
.field5:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.clm3h4{ color:#414141; margin-top: 60px; margin-bottom: 20px;}

.image-right3{ margin-bottom:0px;}
.image-right3 li{ list-style:none; display:inline-block; margin-left: 38px;}

.sub-image{ margin-top:20px;}


.clm4-list{ padding-left:0px; color:#fff;}
.clm4-list li{ list-style:none; display:inline-block; margin-right: 7%;}
.clm4-list li a{ color:#9f9f9f; font-size:12px;}
.clm4-list li a:hover{ color:#9f9f9f; text-decoration:underline; }

.head-ourcities1{ margin-top:0px; margin-bottom:20px; color:#fff; border-bottom:1px solid #424242; width:20%; padding-bottom: 5px;}
.head-ourcities2{ margin-top:0px; margin-bottom:20px; color:#fff; border-bottom:1px solid #424242; width:65%; padding-bottom: 5px;}


.headlist-para{ font-size:16px; margin-bottom: 15px;}
.marginright-none{ margin-right:0px !important;}

.footer-para{ color:#adabab; font-size:13px; margin-bottom: 0;}
.footer-list{  margin-bottom: 0; float:right; padding-left:0px;}
.footer-list li{ list-style:none; display:inline-block; padding-right:5px; color:#adabab; font-size:13px;}
.footer-list li a{ color:#adabab; font-size:13px;}
.footer-list li a:hover{ text-decoration:underline;}

.social-media{ padding-left:0px; }
.social-media li{ padding:20px; margin-right:5px; list-style:none; display:inline-block; border:1px solid #454545; }


.facebookicon{ background-image:url(../images/fb.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.facebookicon:hover{ background-image:url(../images/fb-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.twittericon{ background-image:url(../images/tweet.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.twittericon:hover{ background-image:url(../images/tweet-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.googleplusicon{ background-image:url(../images/g-plus.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.googleplusicon:hover{ background-image:url(../images/g-plus-rlor.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.linkedinicon{ background-image:url(../images/linkedin.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.linkedinicon:hover{ background-image:url(../images/linkedin-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}

.car-middle{ background:url(../images/car.png); width:466px; height:264px; position:absolute; top:320px; left:-30px;}
.logo-left{ float:left;}
.secssion1{ padding-top:20px;}


.arrow-toptab{ margin-bottom: 20px; padding:0 0 30px 0;}
.arrow-toptablist{ padding:0px; margin:0px; background:url(../images/arrow1list.png); background-position:center; float:left; background-size:100% 100%; overflow:hidden; }
.arrow-toptablist li{  list-style:none; float:left; color:#675c0b; font-size:13px; }
.activearrow-toptablist{ background-image:url(../images/arroe-tab2.png); padding: 10px 142px 10px 20px;}
.inactivearrow-toptablist2{  padding: 10px 70px 10px 20px;}
.inactivearrow-toptablist3{  padding: 10px 70px 10px 20px;}
.arrow-toptablist li a{ font-size:13px; color:#675c0b; }

.finished{ background-color: #fed23c !important ; 	}



.secssion6{ background: url(../images/ftr_map.png) no-repeat; padding:30px 0 30px 0; }




@media screen and (max-width: 600px)  {
   .arrow-toptablist li{
	   width: 100%!important; 
 
	   }
	   
	   .header-list{margin-right:25px;}
}


@media screen and (min-width: 600px)  {
 .header-list{}
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

.car-middle{ display:none;}
.clm-1 { margin-top:0px !important; }
.right-image{ display:none;}
ul.tabs li{ width:100%;}
ul.tabs li a{ display:block; width:100%;}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 712px) {
	ul.tabs li{ width:100%;}
	ul.tabs li a{ display:block; width:100%;}
	
	}

/*select taxi starts*/

.carprice{ }
.taxiname {  font-size: 15px; font-weight: 500; margin: 0 !important; padding: 0;}
.taxicondi { font-size: 11px; font-weight: 300; margin: 0 !important;  padding: 0;}
.carprice tbody{ background-color:#ebebec;}
.taxiinfohead{ margin:0px; padding:10px 0; width:100%; background-color:#777271; float:left; border-radius: 5px 5px 0 0;}
.taxiinfohead li{ display:inline-block; color:#ebebec; font-size:13px; text-transform:uppercase; padding-left: 6%; padding-right: 13%;}
.taxiinfo1{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }

.taxiinfo2{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }
.taxiinfo2 li{ display:inline-block; padding-right: 7%; padding-top: 5px; padding-bottom: 5px;}
.table-bgwhite{ background-color:#fff; float: left; width: 100%; padding-left: 3%; padding-right:3%}
.horrizontalline{ float:left; width:100%; color:#d2d0d1; margin:0px !important;}
.paddingzero{ padding-right:0px !important;}
.middileone{ width: 155px;}

/*select taxi ends*/


/*confirm booking starts*/

.field6{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; }
.field6:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}
.formtext11{ width:100%; border-radius:5px; border:1px solid #d6d6d6;}
.formtext11:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.checkboxlabel{ font-size:13px !important; color:#2c3e50; }
.fareselect{ vertical-align: sub;}
.margindeclare{ margin-top:30px; margin-bottom:16px;}

.applybtn{ background: none repeat scroll 0 0 #777271; border: 1px solid #777271; border-radius: 5px; color: #fff; float: right; font-size: 15px;  padding: 8px 25px; }
.applybtn:hover{ background: none repeat scroll 0 0 #575352;}


.field7{ border-radius: 5px; font-size: 13px !important; margin-bottom: 5px !important; padding:  10px 25px 10px 15px !important; width: 60%; border:1px solid #d6d6d6; border-radius:5px; margin-bottom: 16px;}
.field7:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.errortext{ font-size:11px; color:#ff1f1f; margin:0px !important;}

.findtaxibtn2{ background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; float: right; font-size: 17px; padding: 10px 50px; margin-top:9px;}
.findtaxibtn2:hover{ background: none repeat scroll 0 0 #232222; }

.backclrwhite{ background-color: #fff; float: left; padding:15px; width: 100%;}
/*confirm booking ends*/



.middileone2{ padding-right: 28% !important;}
.middileone3{ padding-right: 31% !important;}



.bnr-404{ width:100%; padding:0 0 30px 0;  background:url(../images/banner_bg.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.clm-1{ width:100%; float:left; background:#fff; padding-bottom: 35px; }
.clm-2{ width:100%; float:left; background:#161616 url(../images/clm2_bg.png) fixed; -webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover;padding-bottom: 40px; padding-top: 40px;}
.clm-3{ width:100%; float:left; background:#fff; padding-bottom: 50px; padding-top: 60px; border:solid #e4e4e4 6px; }
.clm-4{ width:100%; float:left; background:#161616 ; padding-bottom: 35px; padding-top: 0px; border-top: solid #282828 6px; }
.footer{ width:100%; float:left; background:#282828; padding-bottom: 10px; padding-top: 10px;}

.header-list{ float:right;  padding:0px; margin:0;   padding:20px 0 0 0;}
.header-list li{ list-style:none;  color:#fff; margin-left:15px; font-size:14px; padding:0px 0 0 0;}
.navbar-inverse{ padding-bottom:10px; padding-top:10px;}

.nav-tabs > li > a{ font-size:13px !important; background-color:#ebebec !important; color:#757575 !important; margin-right: 5px !important; background-repeat:no-repeat; height: 45px; padding:10px !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ color:#000 !important; background-color:#fed23c !important; border: 1px solid #fed23c !important;}
a:focus{ outline:none !important;}
.nav-tabs{ margin-left: 15px;}
#point-tab{ }

.search-form{ background:#f2c21e; border-radius: 10px; padding: 20px 30px;}

.field1{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/area.png); background-repeat:no-repeat; background-position:right;}
.field1:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.para-head{ margin-bottom:5px !important; font-size:13px !important; color:#2c3e50;}
.findtaxibtn{ background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; float: right; font-size: 17px; padding: 10px 50px; margin-top:10px;}


.field2{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/date.png); background-repeat:no-repeat; background-position:right;}
.field2:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.field3{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/area.png); background-repeat:no-repeat; background-position:right;}
.field3:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.field4{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding: 9px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/time.png); background-repeat:no-repeat; background-position:right;}
.field4:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.right-image img{ float:right;}

.nav-tabs{ margin-top:30px;}

.head-sec3{ border-bottom:1px solid #ebebeb; padding-bottom: 5px;}

.seclist3{ margin-top:15px; padding-left: 22px;}
.seclist3 li{ list-style-image:url(../images/list.png); margin-bottom: 15px; font-size:13px;}


.right-section{ margin-top: 80px;}

.list-rightsec{ padding-right: 5px; border:1px solid #ededed; border-radius:5px; padding-bottom: 10px; padding-top: 27px; padding-left: 5px;}
.list-rightsec li{ list-style:none; display:inline-block;}

.para-listright{ margin-left:10px;}

.para-right1{ color:#a6a4a4; font-size:14px; margin-bottom: 5px;}
.para-right2{ color:#2c2c2e; font-size:18px; margin-bottom: 0px;}

.left-symbol{ margin-top:-30px}

.refillbtn{ background: none repeat scroll 0 0 #fed23c; border-radius: 5px; color: #242220; float: right; font-size: 13px; padding: 10px 5px; width:120px; border:1px solid #fed23c;}

.image-secssion img{ float:right;}

.right-clm2{ padding-left:0px; margin-left:6%; margin-top: 25px;}
.right-clm2 li{ list-style:none; margin-bottom:20px;}

.clm2-head3{ font-size:26px; color:#eae9e7; margin:0px;}
.clm2-head2{ font-size:36px; color:#fed23c;  margin:0px;}
.clm2-paralast{ font-size:13px; color:#d8d8d8;  margin:0px;}


.clm3h3{ margin-bottom:20px; margin-top:0px; color:#2c2c2e;}
.clm3p{ font-size:13px; text-align:justify; margin-bottom:30px;}
.sentlinkbtn{ background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; font-size: 13px; margin-left: 5px; padding: 10px 15px;}



.field5{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 60%; border:1px solid #d6d6d6; border-radius:5px; }
.field5:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.clm3h4{ color:#414141; margin-top: 60px; margin-bottom: 20px;}

.image-right3{ margin-bottom:0px;}
.image-right3 li{ list-style:none; display:inline-block; margin-left: 38px;}

.sub-image{ margin-top:20px;}


.clm4-list{ padding-left:0px; color:#fff;}
.clm4-list li{ list-style:none; display:inline-block; margin-right: 7%;}
.clm4-list li a{ color:#9f9f9f; font-size:12px;}
.clm4-list li a:hover{ color:#9f9f9f; text-decoration:underline; }

.head-ourcities1{ margin-top:0px; margin-bottom:20px; color:#fff; border-bottom:1px solid #424242; width:20%; padding-bottom: 5px;}
.head-ourcities2{ margin-top:0px; margin-bottom:20px; color:#fff; border-bottom:1px solid #424242; width:65%; padding-bottom: 5px;}


.headlist-para{ font-size:16px; margin-bottom: 15px;}
.marginright-none{ margin-right:0px !important;}

.footer-para{ color:#adabab; font-size:13px; margin-bottom: 0;}
.footer-list{  margin-bottom: 0; float:right; padding-left:0px;}
.footer-list li{ list-style:none; display:inline-block; padding-right:5px; color:#adabab; font-size:13px;}
.footer-list li a{ color:#adabab; font-size:13px;}
.footer-list li a:hover{ text-decoration:underline;}

.social-media{ padding-left:0px; }
.social-media li{ padding:20px; margin-right:5px; list-style:none; display:inline-block; border:1px solid #454545; }


.facebookicon{ background-image:url(../images/fb.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.facebookicon:hover{ background-image:url(../images/fb-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.twittericon{ background-image:url(../images/tweet.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.twittericon:hover{ background-image:url(../images/tweet-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.googleplusicon{ background-image:url(../images/g-plus.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.googleplusicon:hover{ background-image:url(../images/g-plus-rlor.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}


.linkedinicon{ background-image:url(../images/linkedin.png); background-position:center; background-repeat:no-repeat; background-color:#161616; }
.linkedinicon:hover{ background-image:url(../images/linkedin-rlovr.png); background-position:center; background-repeat:no-repeat; background-color:#fdce16; border:1px solid #fdce16;}

.car-middle{ background:url(../images/images/car.png); width:466px; height:264px; position:absolute; top:320px; left:-30px;}
.logo-left{ float:left;}
.secssion1{ padding-top:20px;}


.arrow-toptab{ margin-bottom: 20px; padding:0 0 30px 0;}
.arrow-toptablist{ padding:0px; margin:0px; background:url(../images/arrow1list.png); background-position:center; float:left; background-size:100% 100%; overflow:hidden; }
.arrow-toptablist li{  list-style:none; float:left; color:#675c0b; font-size:13px; }
.activearrow-toptablist{ background-image:url(../images/arroe-tab2.png); padding: 10px 142px 10px 20px;}
.inactivearrow-toptablist2{  padding: 10px 70px 10px 20px;}
.inactivearrow-toptablist3{  padding: 10px 70px 10px 20px;}
.arrow-toptablist li a{ font-size:13px; color:#675c0b; }

.finished{ background-color: #fed23c !important ; 	}



.secssion6{ background: url(../images/ftr_map.png) no-repeat; padding:30px 0 30px 0; }



/* myaccount */

.myaccount .col-md-4 { padding:8px; }
.myaccount .col-md-8 { padding:8px;   }
.myaccount{ width:100%; background:#f2c21e; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; float:left; margin:0; padding:0;}
.profile_outr{ width:100%; background:#ffffff; float:left;   padding:0 0 20px 0; margin:0; border-top-left-radius: 8px; border-top-right-radius: 8px; } 
.prfl_hd1{ width:60%; height:30px; float:left;  }
.prfl_hd2{ width:40%;   float:left; color:#fff; font-size:13px;  text-align:right; padding:30px 0 0 0;cursor: pointer;  }
.prfl_hd1 p{ padding:0; color:#fff; font-size:13px;}
.booking_outr{  width:100%; background:#ffffff; float:left;     border-top-left-radius: 8px; border-top-right-radius: 8px;  }
.booking_hd{ border-top-left-radius: 8px; border-top-right-radius: 8px; background:#777271; height:85px; padding:23px 10px 0 10px }
.bkng_cl1{ width:35%; float:left; height:30px; }
.bkng_cl2{ width:25%; float:left; height:30px;  }
.bkng_cl3{ width:37%; float:left; height:30px; margin:0 0 0 10px; }
.bkng_cl3 img{ margin:0 0px 0 10px; }
.bkng_cl4{ width:8%; float:left; height:30px; margin:0 0 0 10px; }

.my_actv{
        width:60px; height:30px; background:#625f5f ; float:left; text-align:center; color:#fff; font-size:13px; line-height:28px;
        border-radius: 20px 0px 0px 20px;
        -moz-border-radius: 20px 0px 0px 20px;
        -webkit-border-radius: 20px 0px 0px 20px;
        border: 0px solid #000000 ;
}

.my_actv a{ color:#fff ;}
.my_actv a:hover{ color:#fff ; text-decoration:none;}
.my_past a{ color:#fff ;}
.my_past a:hover{ color:#fff ; text-decoration:none;}
.my_past{
        width:60px; height:30px; background:#625f5f ; float:left; text-align:center; color:#fff; font-size:13px; line-height:28px;
        border-radius: 0px 20px 20px 0px;
        -moz-border-radius: 0px 20px 20px 0px;
        -webkit-border-radius: 0px 20px 20px 0px;
        border: 0px solid #000000 ;
}




.booking_hd h1{ color:#fff !important; font-size:18px !important; padding:10px 0 0 0; margin:0; }
.booking_area{ width:100%; padding:10px; }
.profl_img{  float:left; padding:0 10px 0 0; }
.myacunt_hd h1{ color:#fff !important; font-size:18px !important; padding:10px 0 0 0; margin:0; }
.myacunt_hd{ border-top-left-radius: 8px; border-top-right-radius: 8px; background:#777271; height:85px;  padding:10px; }
.myacunt_area{ width:100%; padding:10px; }
.myacunt_area h1{ color:#2c3e50; font-size:16px !important; text-align:center; padding:10px 0 10px 0; margin:0;  }
.field_hd{ margin-bottom:3px !important; font-size:13px; color:#2c3e50;}
.field_myacnt{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; width: 100%; border:1px solid #d6d6d6; border-radius:5px;}
.field_myacnt:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}
.field_radio{  font-size: 13px !important;color: #2c3e50; padding:5px 0 15px 0;}
.field-srch{ border-radius: 5px; font-size: 13px !important; margin-bottom: 10px !important; padding:  10px 25px 10px 15px !important; border:1px solid #d6d6d6; border-radius:5px; background-image:url(../images/my_accout_search.png); background-repeat:no-repeat; background-position:right;}
.field1:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.updatebtn { background: none repeat scroll 0 0 #161616; border: 1px solid #161616; border-radius: 5px; color: #fff; font-size: 17px; margin-right: 10px; margin-top: 10px; padding: 10px 0px; 
             width:46%; float:left; text-align:center !important; }
.cancelbtn { background: none repeat scroll 0 0 #777271; border: 1px solid #777271; border-radius: 5px; color: #fff;font-size: 17px; margin-right: 10px; margin-top: 10px; padding: 10px 0px; 
             width:46%; float:left; text-align:center !important; }




@media screen and (max-width: 600px)  {
   .arrow-toptablist li{ width: 100%!important; }
   .header-list{margin-right:25px;}
}


@media screen and (min-width: 600px)  {
 .header-list{ width: 70%;}
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

.car-middle{ display:none;}
.clm-1 { margin-top:0px !important; }
.right-image{ display:none;}
.bkng_cl1{ float:none!important; width:100% !important;}

}


  .booking_area table { width: 100%;  border-collapse: collapse;  }
  /* Zebra striping */
  .booking_area tr:nth-of-type(odd) { background: #eee; }
  .booking_area th { background: #333; color: white; font-weight: bold; }

.booking_area td, .booking_area th { padding: 10px 5px 10px 5px; border: 1px solid #ccc; text-align: center; font-size:13px;}

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
	.bkng_darea_list{ border:none!important;}
	
		/* Force table to not be like tables anymore */
		booking_area table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.booking_area thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.booking_area tr { border: 1px solid #ccc; }
		
		.booking_area td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.booking_area td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.booking_area td:nth-of-type(1):before { content: "ID"; }
		.booking_area td:nth-of-type(2):before { content: "From"; }
		.booking_area td:nth-of-type(3):before { content: "To"; }
		.booking_area td:nth-of-type(4):before { content: "Date"; }
		.booking_area td:nth-of-type(5):before { content: "Distance"; }
		.booking_area td:nth-of-type(6):before { content: "Price"; }
		.booking_area td:nth-of-type(7):before { content: "Satus"; }
	}

/*fair popup starts*/

/*select taxi starts*/

.carprice{ }
.taxiname {  font-size: 12px; font-weight: 500; margin: 0 !important; padding: 0; color: #333;}
.taxicondi { font-size: 11px; font-weight: 300; margin: 0 !important;  padding: 0; color: #333;}
.carprice tbody{ background-color:#ebebec;}

.taxiinfohead{ margin:0px; padding:10px 0; width:100%; background-color:#777271; float:left; border-radius: 5px 5px 0 0;}
.taxiinfohead li{ display:inline-block; color:#ebebec; font-size:13px; text-transform:uppercase; padding-left: 6%; padding-right: 13%;}


.taxiinfohead2{ margin:0px; padding:10px 0; width:100%; background-color:#777271; float:left; border-radius: 5px 5px 0 0;}
.taxiinfohead2 li{ display:inline-block; color:#ebebec; font-size:13px; text-transform:uppercase; padding-left: 4%; padding-right: 10%;}



.taxiinfo1{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }
.taxiinfo1 li{ display:inline-block;padding-top: 5px; padding-bottom: 5px; color: #333;}
.taxiinfo2{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }
.taxiinfo2 li{ display:inline-block; padding-right: 7%; padding-top: 5px; padding-bottom: 5px;}
.table-bgwhite{ background-color:#fff; float: left; width: 100%; padding-left: 3%; padding-right:3%}
.horrizontalline{ float:left; width:100%; color:#d2d0d1; margin:0px !important;}
.paddingzero{ padding-right:0px !important;}


/*select taxi ends*/






.tabpopup{ margin: 0 auto; width: 100%; float:left;}


ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
	float:left;
	width:100%;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font-size:15px;
    text-decoration: none;
    position: relative;
    padding: 7px 41.5px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #3f3f3f;
    background: none repeat scroll 0 0 #e0e0e0;
    border-radius: 3px 3px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
   
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    background: none repeat scroll 0 0 #f8da15;
	color: #3f3f3f;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 20px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
	float:left;
	width:100%;
}


.modal-content{ float:left; width:100%;}
.modal-body{ float:left; width:100%;}

.field8{ font-size: 13px !important; margin-bottom: 5px !important; padding: 5px !important; width: 90%; border:1px solid #d6d6d6;  color: #2c3e50;}
.field8:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); border-color:rgba(82, 168, 236, 0.8)}

.popuplist{ color: #2c3e50; float:left; width:100%; padding:0px; margin:10px 0 0;}
.popuplist li{ color: #2c3e50; font-size:13px; list-style:none; display:inline-block; margin:0px; padding:0px; margin-right:5px;}

.bestfares{ margin-top: 7px !important;}

.daynightwap{cursor: pointer; display: inline-block; font-size: 9px; font-weight: 400; left: 30px; margin: 0 2px 5px 0; padding: 0; text-align: center; float:right;}
.daynightwap .nightwrap{ float: right; height: 55px; padding: 10px; width: 110px;}

.daynightwap .faretimings.active { background: none repeat scroll 0 0 #f8da15;}

.daynightwap p {  margin: 2px;}
.daynightwap .daywrap{background: none repeat scroll 0 0 #fff;  float: right;  height: 55px;  margin-right: -10px; padding: 10px; transform: skew(-20deg);  width: 110px;}

.daynightwap .daywrap p,  .daynightwap .daywrap i img{ transform: skew(20deg);}

.headerfare{ float: left; width: 100%;}

.nightwrap:hover{ background: none repeat scroll 0 0 #f8da15; }
.middileone4{width: 220px;}
.middileone5{ padding-right: 14% !important;}
.taxiinfohead3{ margin:0px; padding:10px 0; width:100%; background-color:#777271; float:left; border-radius: 5px 5px 0 0;}
.taxiinfohead3 li{ display:inline-block; color:#ebebec; font-size:13px; text-transform:uppercase; padding-left: 4%; padding-right: 10%;}

.taxiname2 {  font-size: 12px; font-weight: 500; margin: 0 !important; padding: 0; color: #333;}
.middileone6{ padding-right: 3% !important;  width: 171px;}

.sedanmargin{ padding-right: 6% !important;}
.suvmargin{ padding-right: 8.5% !important;}


.sedanmargin2{ padding-right: 8.5% !important;}
.suvmargin2{ padding-right: 12% !important;}

.taxiinfo3{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }
.taxiinfo3 li{ display:inline-block; padding-right: 4%; padding-top: 5px; padding-bottom: 5px; color: #333;}

.taxiinfo4{ margin:0px; padding:15px 0; width:100%; float: left; background-color:#fff; }
.taxiinfo4 li{ display:inline-block; padding-right: 5%; padding-top: 5px; padding-bottom: 5px; color: #333;}

.middileone7 {
    width: 157px;
}

.logina:hover{ text-decoration:none;}
/*fair popup ends*/


/*dd*/
.bkng_darea{ background:#fff;   -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:solid #d5d5d5 1px; margin: 11px 10px 10px; }
.bkng_darea_hd{ width:100%; float:left; padding:10px 0 10px 0;  background:#e3e3e3; border-top-right-radius: 6px; border-top-left-radius: 6px; font-size:13px;}
.bkng_darea_listmain{ float:left; padding:0px 0px 0px 10px;	 margin:10.65px 0 10px 0; width:100%;}
.bkng_darea_list{     /*padding:0px 0px 0px 10px;*/ margin:10px 0 10px 0; border-right:solid #d4d4d4 1px; font-size:13px; text-align:left; }
.bkng_bdrnone{ border:none; }
.bkng_darea_list p{ color:#acabab;} 
 .bkng_rtfrm{ float:left; background:url(../images/from_arow.png) no-repeat right; padding:0 20px 0 10px; margin:0 10px 0 0; }
  /*.bkng_btnn1{ float:left; background:#F00; padding:0 20px 0 10px; margin:0 10px 0 0; }*/
 
.bkng_hd_icon{ width:30%; float:left; padding:0 0 0 10px; }
.bkng_hd_icon a{ color:#777271; text-decoration:none !important; }	

.cartype{ width:94px; padding-right:0px !important;}
.cartype2{ width:100px; padding-right:0px !important; margin-right: 10%;}
.cartype3{ width:100px; padding-right:0px !important; margin-right: 3%;}


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
	margin-top:10px;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
	.tab-links{ padding:0px; margin:0 0 0 15px;}
 
    .tab-links li {
        margin:0px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:6px 10px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#fff none repeat scroll 0 0;
            font-size:13px;
            font-weight:400;
            color:#000;
            transition:all linear 0.15s;
			width: 147px;
        }
		.tab-links a:focus{ text-decoration:none;}
 
        .tab-links a:hover {
            background:#e2e1e1;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#696868;
        color:#fff;
    }
 
 
 
 
 
 
/*----- Tabs -----*/
.tabs3{
    width:100%;
    display:inline-block;
	margin-top:10px;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab3-links:after {
        display:block;
        clear:both;
        content:'';
    }
	.tab3-links{ padding:0px; margin:0 0 0 15px;}
 
    .tab3-links li {
        margin:0px;
        float:left;
        list-style:none;
    }
 
        .tab3-links a {
            padding:6px 10px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#F00 none repeat scroll 0 0;
            font-size:13px;
            font-weight:400;
            color:#000;
            transition:all linear 0.15s;
			width: 147px;
        }
		.tab3-links a:focus{ text-decoration:none;}
 
        .tab3-links a:hover {
            background:#e2e1e1;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#696868;
        color:#fff;
    }
 
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#f2c21e;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
		.dropdownairport{ margin-left:15px; margin-bottom:20px;}
		.airportdropdown{ padding: 4px 10px; border: 1px solid #e2e1e1; width: 295px;}


/*booking progress css starts*/
	.confirmedhead{ border-bottom: 1px solid #ccc; margin-bottom: 20px; overflow: hidden; padding-bottom: 0;}
	.confirmed{ background:#fff; border-radius:5px; padding:10px; float:left; width:100%;}
	.chalf{ float:left; width:100%; margin-top: 25px;}
	.chalf2{ float:left; width:100%; margin-top: 25px;}
	.confirmed h3{ color: #5e5e57; font-size: 22px; margin-top: 14px; margin:0px;}
	.parabooking{ color: #5e5e57; margin-left: 40px; font-size:15px; margin-bottom:0px !important;}
	.modify-booking{ font-size: small; margin-left: 40px;}
	.subhalf{margin-bottom: 15px; float:left; width:100%;}
	.halftitle{color: #5e5e57; float: left; font-size: 11px;line-height: 17px; padding-right: 10px; text-transform: uppercase; width: 45%;}
	.halfdetail{ color: #5e5e57; float: right; font-size: 13px; font-weight: 700; line-height: 15px; width: 55%; word-wrap: break-word;}
	.lastpara{ color: #5e5e57; font-size: 12px; margin-bottom: 0; margin-top:20px;}
	/*booking progress css ends*/




/* 404 Page */

.four_four{ width:100%; background:#f4f3f1; height:500px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; float:left; margin:0; padding:0; border:solid #f5ba1e 10px;}
.four_four p{ text-align:center; padding:20px 0 0 0;}
 .four_four_inr{ width:797px; height:260px; margin:50px auto 0 auto; background:url(../images/404.png) no-repeat;}
.four_button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4f4f4f), color-stop(1, #3e3e3e));
	background:-moz-linear-gradient(top, #4f4f4f 5%, #3e3e3e 100%);
	background:-webkit-linear-gradient(top, #4f4f4f 5%, #3e3e3e 100%);
	background:-o-linear-gradient(top, #4f4f4f 5%, #3e3e3e 100%);
	background:-ms-linear-gradient(top, #4f4f4f 5%, #3e3e3e 100%);
	background:linear-gradient(to bottom, #4f4f4f 5%, #3e3e3e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#3e3e3e',GradientType=0);
	background-color:#4f4f4f; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #3e3e3e;
	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:17px;	padding:16px 75px; text-decoration:none; text-shadow:0px 1px 0px #2f6627;
}

.four_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3e3e3e), color-stop(1, #4f4f4f));
	background:-moz-linear-gradient(top, #3e3e3e 5%, #4f4f4f 100%);
	background:-webkit-linear-gradient(top, #3e3e3e 5%, #4f4f4f 100%);
	background:-o-linear-gradient(top, #3e3e3e 5%, #4f4f4f 100%);
	background:-ms-linear-gradient(top, #3e3e3e 5%, #4f4f4f 100%);
	background:linear-gradient(to bottom, #3e3e3e 5%, #4f4f4f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3e3e', endColorstr='#4f4f4f',GradientType=0);
	background-color:#3e3e3e;
	color:#fff;
	text-decoration:none;
}
.four_button:active {
	position:relative;
	top:1px;
}
.four_btn{ width:225px; margin:30px auto 0 auto;}



.blankspace {
    width: 80px;
}
.blanckspace2 {
    width: 65px;
}
.findtaxibtn3 {
    background: none repeat scroll 0 0 #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 17px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 50px;
}.cartype4 { margin-right: 15%;
   padding-right: 0 !important;
   width: 100px;}
   /*about us page starts*/

.about{ height:40px; border-radius:5px 5px 0 0;  }
.aboutus{ background:#fff; float: left; width: 100%; padding:15px;min-height: 600px;}

.bg-about{ background-image:url(../images/about-ribbon.png); background-repeat: no-repeat; background-size: 340px auto; height:104px;}
.head-abt{ color:#fff; float: left; margin-left: 25px; margin-top: 35px;}
.para-abt{ margin-top:25px; float:left; margin-left:15px; margin-right:15px;}
.img-abt{ background:url(../images/about-bg.gif); float: left; width: 100%; padding:10px;}
.para-content{ font-size:13px; color:#4a4545 ; text-align:justify;}
.img-abt .col-lg-4{ padding:0px;}
.sub-head{ color:#4a4545 ; text-align:left; font-size:16px; margin-bottom:10px; margin-top:30px}
.list-para li{ font-size:13px; color:#4a4545 ; margin-bottom:10px;}
.list-para{ margin-top:15px; margin-bottom:15px;}
/*about us page ends*/


.return_outer {
    background: #fff none repeat scroll 0 0;
    border: 16px solid #f5ba1e;
    border-radius: 8px;
    float: left;
    
    margin: 0;
    padding: 30px;
    width: 100%;
}


.return_outer_hd { width:100%; float:left; border-bottom:solid #e2e2e2 2px; padding:0 0 5px 0;}
.return_outer_hd p{ padding:0 0 0 35px;  }
.returnid{ font-weight:bold;}


.return_outer_hd h1{ font-size:24px !important; background:url(../images/success.png) no-repeat left; padding:0 0 0 35px;}
.return_outer_hdcncl h1{ font-size:24px !important; background:url(../images/cancel.png) no-repeat left; padding:0 0 0 35px;}
.return_outer_app{  background:url(../images/return_outer_downloadapp.png) no-repeat left; width:183px; height:103px;}


.return_outer_clm2{ width:100%; float:left; padding:35px 0 25px 35px;}

.rtun_clm2_lft{ width:100%; float:left;}
.rtun_clm2_lft ul{ width:100%; float:left; list-style:none; padding:0; margin:0;}
.rtun_clm2_lft ul li{ width:100%; float:left; font-size:13px; padding:3px 0 3px 0;}

.rtun_clm2_lftrw1{ width:30%; float:left; text-transform:uppercase; color:#787878;}
.rtun_clm2_lftrw2{ width:70%; float:left;}



.rtun_clm2_rht{ width:100%; float:left;}
.rtun_clm2_rht ul{ width:100%; float:left; list-style:none; padding:0; margin:0;}
.rtun_clm2_rht ul li{ width:100%; float:left; font-size:12px; padding:0px 0 20px 0;}

.rtun_clm2_lftpickup{ width:30%; float:left; color:#787878; padding:0 0 5px 0;}
.rtun_clm2_lftland{ width:70%; float:left;  }

.rturn_otr_tax{ width:100%; float:left; font-size:12px;  }

/*new header css starts*/
.headermenus .navbar-inverse{background-color:#f2c21e;background-image:url(../images/headerimg.png);}
.headermenus .navbar-nav > li > a{color:#141314 !important;font-size:14px; padding-left: 30px;padding-right: 30px;border-right:3px solid #e6b40b;}
.headermenus .navbar{border-radius:0px; border:none !important; box-shadow: 0 8px 8px -4px #2c2c2c;}
.headermenus .navbar-nav li span{display: list-item;text-align: center;cursor: pointer;}
.menu-image1{margin-bottom:5px;}
.menu-image3 {margin-bottom: 1px;}
.menu-image5{margin-bottom:7px;}
.bordernone{border:none !important;}
.headermenus .navbar-brand{height: auto;padding: 0 15px 15px;position: absolute;}
/*new header css ends*/
.headermenus .navbar-nav{  float: right !important;}

.logobg{border-radius:50%;border:5px solid; border-color:yellow; background-image:url(../../upload/logo.png);height: 150px !important; width: 151px; background-position:center;position: absolute; background-repeat:no-repeat;}
.circle{border-radius:50%;border:10px solid; border-color:#edc03a;background-color:#ffff;}
.menu-image6{background-image:url(../images/menu-icon6.png);background-repeat:no-repeat; background-position:center top;padding-top: 28px;}




/* PAYMENT */
.payment{width:100%;padding-bottom:50px;}
.payment-wrapper{border:1px solid #e7e3e3; border-radius:6px;min-height:300px;width:100%;}
.payment-outter{min-height:320px;border-radius:6px;width:100%;padding:15px;background:#fff;}
.payment-inner{width:100%;font-family: 'Raleway', sans-serif;color:#747474;padding:20px;font-size: 13px;border: 4px solid rgb(254, 210, 60) !important;background:#fff;border-radius: 5px;}
.paycard{width:100%;}
.paycard img{vertical-align: -5px;padding-left: 15px;}
.paycard-details{width:100%;}
.card-input{width:100%;border:1px solid #e5e5e5;background: #fcfcfc;height:35px;padding-left:10px;}
.card-data{padding:10px;color:#a6a6a6;}
.font10{font-size: 10px;}
.card-data p{padding-top: 21px;}
.padding0{padding:0px !important;}
.card-input1{padding-left: 10px;width:100%;background: #fcfcfc;height:35px;overflow: hidden; background:url(../image/ac-select-arrow.png) no-repeat right transparent;-moz-appearance: none;-webkit-appearance: none;border: 1px solid #E5E5E5;}
.paybtn{
	background: #161616 none repeat scroll 0px 0px;
border: 1px solid #161616;
border-radius: 5px;
color: #FFF;
font-size: 17px;
padding: 10px 50px;
margin-top: 10px;
}